<p>Hello, {{ username }}</p>
<div>
    {{#if tickets}}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Event</th>
                <th>Location</th>
                <th>Price</th>
                <th>Count</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each tickets}}
                <tr>
                    <td>{{ inc @index }}</td>
                    <td>{{ eventName }}</td>
                    <td>{{ eventLocation }}</td>
                    <td>{{ ticketPrice }}</td>
                    <td>{{ ticketCount }}</td>
                    <td>{{ total }}</td>
                    <td><a href="#/removeTicket/:{{ ticketId }}"><i class="glyphicon glyphicon-remove"></i></a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{ else}}
        <p>You have not purchased any tickets.</p>
    {{/if}}

</div>